.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.container div{
max-width: 400px;
border: 1px solid red;
padding: 20px;
}

section{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box{
  width: 300px;
  padding: 100px;
  border: 1px solid red;
}
